/* =============== header ================= */
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 12rem;
    background: var(--header-color);    
    box-shadow: 0px 0px 10px 1px #0a0c0f;
    padding: 0 12px;
}

/* nav-bar */
#header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item{
    display: flex;
    list-style: none;
}

.nav__item li{
    margin: 0.4rem 0.8rem;
    display: flex;
    align-items: center;
}

.nav__item li a{
    font-size: 1.4rem;
    margin-top: 0.4rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 300;
}

.nav__item li a:hover{
    color: rgba(242, 246, 252, 0.7);
}

.item-link__icon{
    margin: 0 0.4rem;
}

.nav__item-img{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.8rem;
    border-radius: 50%;
}

.nav__slogan{
    font-size: 2rem;
    font-weight: 300;
    color: var(--hover-color);
}
/* nav-bar */

/* header-search */
.header__search{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    color: var(--text-color);
}

.header__search-logo{
    text-align: center;
    flex-basis: 20%;
}

.header__search-logo a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 3rem;    
}

.header__search-logo:hover{
    cursor: pointer;
}

.header__search-bar{
    flex-basis: 20%;
    text-align: center;
    display: none;
}

.header__search-bar-btn{
    flex-basis: 20%;
    font-size: 2.5rem;
    background: transparent;
    border: none;
    color: var(--text-color);
}

.header__search-bar-btn:hover{
    color: var(--fade-color);
    cursor: pointer;
}

.search-logo__img{
    display: inline-block;
    width: 7rem;
}

.header__search-form{
    flex-basis: 60%;
    height: 45px;
    display: flex;
    background: #0d1117;
    border-radius: 6px;
}

.search-form__control{
    padding: 1.2rem;
    font-size: 1.6rem;
    color: rgb(240 246 252 / 70%);
    border: none;
    background: transparent;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    outline: none;
}

.search-form__btn{
    padding: 8px 16px;
    margin: 5px 6px 5px 0;
    background: transparent;
    color: rgb(240 246 252 / 70%);
    border: 1px solid #30363d;
    border-radius: 5px;
}

.search-form__btn:hover{
    cursor: pointer;
    opacity: 0.5;
}

.header__search-cart{
    text-align: center;
    flex: 1;
    font-size: 2.5rem;
    color: var(--text-color);
}

.header__search-cart-icon{
    position: relative;
}

.header__search-cart-icon:hover{
    cursor: pointer;
}

.header__search-cart:hover .product__bought{
    display: flex;
    justify-content:center;
    align-items: center;
}

.header__search-cart .quantity{
    position: absolute;
    top: -0.9rem;
    right: -0.9rem;
    font-size: 1.2rem;
    background: var(--text-color);
    color: #333;
    height: 2rem;
    width: 2rem;
    text-align: center;
    line-height: 1.7rem;
    border-radius: 50%;
    border: 2px solid #1c2431;
}

.product__bought{
    position: absolute;
    z-index: 2;
    top: 120%;
    right: 20%;
    text-align:justify;
    border-radius: 4px;
    background: var(--header-color);
    box-shadow: 0px 0px 10px 1px #0a0c0f;
    width: 300px;
    height: 300px;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    animation: header__notify--down ease-in-out 0.3s;
    transform-origin: 90% top;
    will-change: opacity, scale;
    display: none;
}

.prouct__bought--nothing{
    padding: 12px;
}
/* header-search */

/* header-notify */
.nav__item-link{
    position: relative;
}

.nav__item-link:hover .header__notify,
.nav__item-link:hover .user__account{
    display: block;
}

.header__notify{
    position: absolute;
    z-index: 2;
    top: 118%;
    right: 0%;
    width: 404px;
    background: var(--header-color);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px #0a0c0f;
    animation: header__notify--down ease-in-out 0.3s;
    transform-origin: 90% top;
    will-change: opacity, scale;
    display: none;


}

@keyframes header__notify--down{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::after,
.user__account::after,
.product__bought::after{
    position: absolute;
    display: block;
    content: "";
    width: 90px;
    height: 16px;
    top: -13px;
    right: 0px;
}

.notify__header{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.notify__content-link{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6px 12px;
}

.notify__content-link:hover{
    cursor: default;
    opacity: 0.8;
}

.notify__content-link-img{
    width: 35px;
    height: 60px;
    margin-right: 12px;
}

.notify__content-link-hd{
    font-weight: 300;
    font-size: 1.5rem;
}

.notify__content-link-dct{
    font-size: 1.3rem;
}

.notify__footer{
    font-size: 1.6rem;
}

.notify-footer__see-all-btn{
    background: transparent;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    padding: 12px 0 24px;
    color: var(--text-color);
}

.notify-footer__see-all-btn:hover{
    cursor: pointer;
    color: var(--hover-color);
}
/* header-notify */

/* user-account */
.user__account{
    position: absolute;
    z-index: 2;
    top: 118%;
    right: 0%;
    border-radius: 4px;
    background: var(--header-color);
    box-shadow: 0px 0px 10px 1px #0a0c0f;
    width: 170px;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--text-color);
    animation: header__notify--down ease-in-out 0.3s;
    transform-origin: 90% top;
    will-change: opacity, scale;
    display: none;
}

.user__account p[class*="user__account-s"]{
    border-bottom: 1px solid var(--border-color);
}

.user__account-icon{
    display: block;
    width: 25px;
}

.user__account p{
    padding: 8px 12px;
}

.user__account p:hover{
    cursor: pointer;
    color: var(--hover-color);
}
/* user-account */

/* change-account-layout */
.change__layout{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(13, 17, 23, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.change__layout-body{
    width: 400px;
    background: var(--header-color);
    color: var(--text-color);
}

.change__layout-header,
.change__layout-content,
.change__layout-footer{
    padding: 0 15px;
}

.change__layout-header{
    font-size: 1.6rem;
    font-weight: 400;
}

.change__account-back{
    margin: 15px 15px 15px 0;
}

.change__account-back:hover{
    cursor: pointer;
    color: var(--hover-color);
}

.user__account-now{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.user__account-img{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px
}

.user__account-name{
    font-size: 1.5rem;
}

.user__account-status{
    color: var(--fade-color);
    font-size: 1.3rem;
}

.user__account-check{
    font-size: 1.7rem;
    flex: 1;
}

.user__account-check-icon{
    float: right;
    margin-right: 15px;
}

.user__account-more{
    font-size: 1.5rem;
    padding-bottom: 6px;
}

.user__account-more:hover{
    cursor: pointer;
    color: var(--hover-color);
}

.user__account-more-icon{
    font-size: 2.5rem;
    margin: 0 19px 0 8px;
}

.user__account-note{
    color: var(--fade-color);
    font-size: 1.3rem;
    text-align: left;
    padding-bottom: 100px;
}

.user__accout-create-btn{
    background: var(--hover-color);
    border: none;
    border-radius: 7px;
    padding: 8px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 20px;
}

.user__accout-create-btn:hover{
    cursor: pointer;
    opacity: 0.9;
}
/* change-account-layout */
/* =============== header ================= */


/* =============== content ================= */
#content{
    margin-top: 140px;
}

.section__ct{
    display: flex;
}

.product__nav{
    background: #0d1117;
    flex: 1;
}

.product__nav--fixed{
    margin-top: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.product__list{
    list-style: none;
    margin-left: 20px;
    margin-bottom: 30px;
}

.name__list{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.name__list-icon{
    margin-right: 8px;
}

.product__item{
    position: relative;
    padding: 6px 0 6px 25px;
    font-size: 1.3rem;
    font-weight: 400;
    border-bottom: 1px solid var(--border-color);
}

.product__item:hover{
    cursor: pointer;
}

.product__item:hover .product__item-link{
    color: var(--hover-color);
}

.product__item:hover .product__item-another,
.product__item:hover .item__choose-cost{
    display: block;
}

.product__item a,
.product__item-cost{
    color: var(--text-color);
    text-decoration: none;
}

.product__item-another,
.item__choose-cost{
    position: absolute;
    z-index: 1;
    width: 150px;
    top: 118%;
    left: 60%;
    color: var(--text-color);
    list-style: none;
    background: var(--header-color);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px #0a0c0f;
    animation: move-down ease-in-out 0.3s;
    transform-origin: 10% top;
    will-change: opacity, transform;
    display: none;
}

@keyframes move-down{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.product__item-another::after,
.item__choose-cost::after{
    position: absolute;
    display: block;
    content: "";
    top: -14px;
    right: 31px;
    width: 150px;
    height: 20px;
}

.another__item,
.cost__item{
    border-bottom: 1.5px solid transparent;
}

.another__item:hover,
.cost__item:hover{
    border-bottom-color: var(--fade-color);
}

.another__item a,
.cost__item{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--fade-color);
    display: inline-block;
    padding: 4px 12px;
}

.product__item-cost-icon{
    margin-left: 60%;
}

.product__view{
    margin-right: 15px;
    flex: 4;
    background: #eee;
    border-radius: 12px;
}

.product__view-body{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.view-body__content{
    border-radius: 15px;
    flex-basis: 23%;
    margin-top: 20px;
}

.product__body{
    margin: 10px;
}

.product__poster{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.product__poster:hover{
    top: -12px;
    cursor: pointer;
}

.product__poster span{
    flex-basis: 47%;
}

.product__img{
    width: 100%;
    height: auto;
}

.product__info{
    font-size: 1.5rem;  
}

.product__name{
    font-size: 1.6rem;
    font-weight: 400;
}

.pages__list{
    margin-top: 46px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pages__list li{
    font-size: 2rem;
    margin: 0 20px;
    padding: 8px 16px;
    color: #333;
}

.pages__list li:hover{
    opacity: 0.6;
    cursor: pointer;
}
/* =============== content ================= */

hr{
    border: 1px solid #21262d;
    border-radius: 0;
    margin: 60px 40px 0 40px ;
}

/* =============== footer ================= */
#footer{
    margin: 0 40px;
}

.licenses__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--hover-color);
    list-style: none;
    padding: 40px 0;
}

.license-list__item{
    margin: 0 20px;
    font-size: 1.2rem;
    border-bottom: 1px solid transparent;
    line-height: 1;
}

.license-list__item:hover{
    border-bottom-color: var(--hover-color);
    cursor: pointer;
}

.license-list__item--first{
    margin-left: 40px;
}

.list-item__img{
    width: 25px;
    height: 20px;
    margin-right: 8px;
}

.license-list__item .list-item__slogan{
    font-size: 1.8rem;  
    font-weight: 300;
    margin-right: 40px;
    color: var(--text-color);
}
/* =============== footer ================= */