.b-left{
    border-left: 1px solid var(--border-color);
}

.b-right{
    border-right: 1px solid var(--border-color);
}

.b-top{
    border-top: 1px solid var(--border-color);
}

.b-bottom{
    border-bottom: 1px solid var(--border-color);
}

.b-all{
    border: 1px solid var(--border-color);
}
/* =============== header ================= */
#header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    height: 140px;
    background: var(--header-color);    
    box-shadow: 0px 0px 10px 1px #0a0c0f;
    padding-top: 12px;
}

/* nav-bar */
.nav__item{
    list-style: none;
}

.nav__item--left{
    padding-left: 40px;
}

.nav__item--right{
    list-style: none;
    justify-content: flex-end;
}

.nav__item-link a{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 300;
}

.nav__item li a:hover{
    color: rgba(242, 246, 252, 0.7);
}

.item-link__icon{
    margin: 0 4px;
}

.nav__item-img{
    width: 30px;
    height: 30px;
    margin-top: -3px;
    margin-right: 8px;
    border-radius: 50%;
}

.nav__slogan{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: var(--hover-color);
}
/* nav-bar */

/* header-search */
.header__search{
    margin-top: 20px;
    color: var(--text-color);
}

.header__search-logo{
    text-align: center;
}

.header__search-logo a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 30px;    
}

.header__search-logo:hover{
    cursor: pointer;
}

.header__search-bar{
    text-align: center;
}

.header__search-bar-btn{
    font-size: 25px;
    background: transparent;
    border: none;
    color: var(--text-color);
}

.header__search-bar-btn:hover{
    color: var(--fade-color);
    cursor: pointer;
}

.search-logo__img{
    display: inline-block;
    width: 70px;
}

.header__search-form{
    height: 40px;
    border-radius: 40px;
    align-items: center;
    border: 1px solid #757575;
}

.search-form__control{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.7rem;
    width: 100%;
}

.search-form__btn{
    text-align: center;
    color: var(--text-color);
    font-size: 1.5rem;
}

.search-form__btn:hover{
    cursor: pointer;
    color: var(--hover-color);
}

.header__search-cart{
    font-size: 25px;
    color: var(--text-color);
    text-align: center;
}

.header__search-cart-icon{
    position: relative;
}

.header__search-cart-icon:hover{
    cursor: pointer;
}

.header__search-cart:hover .product__bought{
    display: flex;
    justify-content:center;
    align-items: center;
}

.header__search-cart .quantity{
    position: absolute;
    top: -9px;
    right: -9px;
    font-size: 1.2rem;
    background: var(--text-color);
    color: #333;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 1.7rem;
    border-radius: 50%;
    border: 2px solid #1c2431;
}

.product__bought{
    position: absolute;
    z-index: 2;
    top: 120%;
    right: 20%;
    text-align:justify;
    border-radius: 4px;
    background: var(--header-color);
    box-shadow: 0px 0px 10px 1px #0a0c0f;
    width: 300px;
    height: 300px;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    animation: header__notify--down ease-in-out 0.3s;
    transform-origin: 90% top;
    will-change: opacity, scale;
    display: none;
}

.prouct__bought--nothing{
    padding: 12px;
}
/* header-search */

/* header-sort */
.header__sort{
    margin-top: 16px;
}

.sort__by{
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-color);
}

p[class*="sort__by--"]{
    border-bottom: 1px solid transparent;
}

.sort__by--involve{    
    border-bottom-color: var(--hover-color) !important;
    cursor: default !important;
}

p[class*="sort__by--"]:hover{
    border-bottom-color: var(--hover-color);
    cursor: pointer;
}
/* header-sort */

/* header-notify */
.nav__item-link{
    position: relative;
}

.nav__item-link:hover .header__notify,
.nav__item-link:hover .user__account{
    display: block;
}

.header__notify{
    position: absolute;
    z-index: 2;
    top: 118%;
    right: 0%;
    width: 404px;
    background: var(--header-color);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px #0a0c0f;
    animation: header__notify--down ease-in-out 0.3s;
    transform-origin: 90% top;
    will-change: opacity, scale;
    display: none;
}

@keyframes header__notify--down{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::after,
.user__account::after,
.product__bought::after{
    position: absolute;
    display: block;
    content: "";
    width: 90px;
    height: 16px;
    top: -13px;
    right: 0px;
}

.notify__header{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.notify__body{
    padding-top: 12px;
}

.notify__content-link{
    width: 100%;
    align-items: center;
    padding: 6px 12px;
}

.notify__content-link:hover{
    cursor: default;
    opacity: 0.8;
}

.notify__content-link-img{
    width: 35px;
    height: 60px;
    margin-left: 12px;
}

.notify__content-link-hd{
    font-weight: 300;
    font-size: 1.5rem;
}

.notify__content-link-dct{
    font-size: 1.3rem;
}

.notify__footer{
    font-size: 1.6rem;
}

.notify-footer__see-all-btn{
    background: transparent;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    padding: 12px 0 24px;
    color: var(--text-color);
}

.notify-footer__see-all-btn:hover{
    cursor: pointer;
    color: var(--hover-color);
}
/* header-notify */

/* user-account */
.user__account{
    position: absolute;
    z-index: 2;
    top: 118%;
    right: 0%;
    border-radius: 4px;
    background: var(--header-color);
    box-shadow: 0px 0px 10px 1px #0a0c0f;
    width: 170px;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--text-color);
    animation: header__notify--down ease-in-out 0.3s;
    transform-origin: 90% top;
    will-change: opacity, scale;
    display: none;
}

.user__account p[class*="user__account-s"]{
    border-bottom: 1px solid var(--border-color);
}

.user__account-icon{
    display: block;
    width: 25px;
}

.user__account p{
    padding: 8px 12px;
}

.user__account p:hover{
    cursor: pointer;
    color: var(--hover-color);
}
/* user-account */
/* =============== header ================= */


/* =============== content ================= */
#content{
    margin-top: 140px;
}

.product__nav{
    background: #0d1117;
    margin-top: 20px;
    margin-left: -10px;
}

.product__list{
    list-style: none;
    margin-left: 20px;
    margin-bottom: 30px;
}

.name__list{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.name__list-icon{
    margin-right: 8px;
}

.product__item{
    position: relative;
    padding: 6px 0 6px 25px;
    font-size: 1.3rem;
    font-weight: 400;
    border-bottom: 1px solid var(--border-color);
}

.product__item:hover{
    cursor: pointer;
}

.product__item:hover .product__item-link{
    color: var(--hover-color);
}

.product__item:hover .product__item-another,
.product__item:hover .item__choose-cost{
    display: block;
}

.product__item a,
.product__item-cost{
    color: var(--text-color);
    text-decoration: none;
}

.product__item-another,
.item__choose-cost{
    position: absolute;
    z-index: 1;
    width: 150px;
    top: 118%;
    left: 60%;
    color: var(--text-color);
    list-style: none;
    background: var(--header-color);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px #0a0c0f;
    animation: move-down ease-in-out 0.3s;
    transform-origin: 10% top;
    will-change: opacity, transform;
    display: none;
}

@keyframes move-down{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.product__item-another::after,
.item__choose-cost::after{
    position: absolute;
    display: block;
    content: "";
    top: -14px;
    right: 31px;
    width: 150px;
    height: 20px;
}

.another__item,
.cost__item{
    border-bottom: 1.5px solid transparent;
}

.another__item:hover,
.cost__item:hover{
    border-bottom-color: var(--fade-color);
}

.another__item a,
.cost__item{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--fade-color);
    display: inline-block;
    padding: 4px 12px;
}

.product__item-cost-icon{
    margin-left: 60%;
}

.product__body{
    background-color: #fff;
    border-radius: 15px;
    margin-top: 24px;
}

.product__poster{
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    margin: 0 4px;
    padding-top: 14px;
}

.product__poster:hover{
    top: -12px;
    cursor: pointer;
}

.poster__img{
    width: 100%;
}

.product__info{
    font-size: 1.5rem;  
    margin-left: 16px;
    padding-bottom: 13px;
}

.product__name{
    font-size: 1.6rem;
    font-weight: 400;
}

.pages__list{
    margin-top: 46px;
    list-style: none;
    justify-content: center;
}

.pages__list li{
    font-size: 2rem;
    margin: 0 20px;
    padding: 8px 16px;
    color: var(--text-color);
}

.pages__list li:hover{
    opacity: 0.6;
    cursor: pointer;
}
/* =============== content ================= */

hr{
    border: 1px solid #21262d;
    border-radius: 0;
    margin: 60px 40px 0 40px ;
}

/* =============== footer ================= */
#footer{
    margin: 0 40px;
}

.licenses__list{
    align-items: center;
    color: var(--hover-color);
    list-style: none;
    padding: 40px 0;
}

.license-list__item{
    font-size: 1.2rem;
    margin: 0 16px;
    border-bottom: 1px solid transparent;
    line-height: 1;
}

.license-list__item:hover{
    border-bottom-color: var(--hover-color);
    cursor: pointer;
}

.license-list__item--first{
    margin-left: 40px;
    margin-right: 0;
}

.license-list__item--first:hover{
    border-bottom-color: transparent;
}

.list-item__img{
    width: 25px;
    height: 20px;
    margin-right: 8px;
}

.license-list__item .list-item__slogan{
    font-size: 1.8rem;  
    font-weight: 300;
    margin-right: 40px;
    color: var(--text-color);
}
/* =============== footer ================= */

/* =============== layout ================= */
/* change-account-layout */
.change__layout{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(13, 17, 23, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.change__layout-body{
    width: 400px;
    background: var(--header-color);
    color: var(--text-color);
}

.change__layout-header,
.change__layout-content,
.change__layout-footer{
    padding: 0 15px;
}

.change__layout-header{
    font-size: 1.6rem;
    font-weight: 400;
}

.change__account-back{
    margin: 15px 15px 15px 0;
}

.change__account-back:hover{
    cursor: pointer;
    color: var(--hover-color);
}

.user__account-now{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.user__account-img{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px
}

.user__account-name{
    font-size: 1.5rem;
}

.user__account-status{
    color: var(--fade-color);
    font-size: 1.3rem;
}

.user__account-check{
    font-size: 1.7rem;
    flex: 1;
}

.user__account-check-icon{
    float: right;
    margin-right: 15px;
}

.user__account-more{
    font-size: 1.5rem;
    padding-bottom: 6px;
}

.user__account-more:hover{
    cursor: pointer;
    color: var(--hover-color);
}

.user__account-more-icon{
    font-size: 2.5rem;
    margin: 0 19px 0 8px;
}

.user__account-note{
    color: var(--fade-color);
    font-size: 1.3rem;
    text-align: left;
    padding-bottom: 100px;
}

.user__accout-create-btn{
    background: var(--hover-color);
    border: none;
    border-radius: 7px;
    padding: 8px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 20px;
}

.user__accout-create-btn:hover{
    cursor: pointer;
    opacity: 0.9;
}
/* change-account-layout */

/* nav-mobile-layout */
.nav__mobile-layout{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    animation: fadeIn linear 0.2s;
    display: none;
}

.nav__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 300px;
    max-width: 100%;
    background: var(--text-color);   
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }    
    to{
        opacity: 1;
    }
}

#check__box:checked ~ .nav__mobile-layout{
    display: block;
}

#check__box:checked ~ .nav__mobile{
    transform: translateX(0%);
    opacity: 1;
}

.nav__mobile-header{
    background: var(--header-color);
    height: 100px;
    box-shadow: 0px 0px 10px 1px #0a0c0f;
}

.nav-mobile__search{
    width: 75%;
    position: absolute;
    top: 29px;
    left: 21px;
}

.fa-times{
   font-size: 30px;
   font-weight: 600 !important;
   padding: 6px 15px 12px 12px;
   position: absolute; 
   right: 0;
   color: var(--text-color);
}

.fa-times:hover{
    cursor: pointer;
    opacity: 0.6;
}

.nav__mobile-footer{
    background: #0d1117;
    height: 100%;
}

.nav__mobile-footer{
    color: var(--text-color);
    list-style: none;
}

.nav__mobile-list{
    list-style: none;
    padding: 12px;
    font-size: 1.65rem;
    font-family: 400;
}

.mobile-list__item{
    padding: 6px 0;
}

.mobile-list__item:hover,
.item__info:hover{
    color: var(--hover-color);
    cursor: pointer;
}

.mobile-list__item:first-child:hover{
    color: var(--text-color);
}

.mobile-list__item  i[class*="fas fa"]{
    display: inline-block;
    width: 30px;
}

.item-info-dct__list{
    list-style: none;
    padding: 6px 0 0 27px;
}

.info-dct__item{
    font-size: 1.5rem;
    padding: 4px 0;
}

.info-dct__item:hover{
    opacity: 0.6;
}
/* nav-mobile-layout */
/* =============== layout ================= */